
services:
  app:
    build: .
    ports:
      - "8501:8501"
    env_file:
      - .env
    environment:
      - MONGO_URI=mongodb://root:example@mongodb:27017
      - QDRANT_HOST=qdrant
      - REDIS_HOST=redis
    depends_on:
      - mongodb
      - qdrant
      - redis

  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

  mongodb:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

volumes:
  mongodb_data:
  qdrant_data:

networks:
  default:
    name: kirp_network